@use "../../core/tokens.scss" as *;

@mixin button-base {
  gap: 8px;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin button-variant {
  &.primary {}

  &.secondary {}

  &.tertiary {}

  &.tab {
    justify-content: flex-start;
  }
}