@use "../core/tokens.scss" as *;
@use "./typography.scss" as *;

@mixin control-size($size: 'md') {
  @if ($size == 'xs') {
    padding: $padding-xs;
  }

  @if ($size == 'sm') {
    padding: $padding-sm;
  }

  @if ($size == 'md') {
    padding: $padding-md;
  }

  @if ($size == 'lg') {
    padding: $padding-lg;
  }

  @if ($size == 'xl') {
    padding: $padding-xl;
  }

  @if ($size == '2xl') {
    padding: $padding-2xl;
  }

  @if ($size == '4xl') {
    padding: $padding-4xl;
  }
}