@use "../core/tokens.scss" as *;

// -----------------------------------------------------------------------------
// Core control font mixins
// -----------------------------------------------------------------------------

@mixin control-font($size, $style, $weight, $family, $line-height: null) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  font-family: $family;

  @if ($line-height != null) {
    line-height: $line-height;
  }
}

@mixin control-font-base($size, $weight: $font-weight-regular, $line-height: null) {
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  font-family: $font-family-base;

  @if $line-height != null {
    line-height: $line-height;
  }
}

@mixin control-font-accent($size, $weight: $font-weight-regular, $line-height: null) {
  font-size: $size;
  font-style: italic;
  font-weight: $weight;
  font-family: $font-family-accent;

  @if $line-height != null {
    line-height: $line-height;
  }
}



// -----------------------------------------------------------------------------
// Specific font mixins
// -----------------------------------------------------------------------------

@mixin text-display {
  @include control-font-accent($font-size-4xl, $font-weight-regular);
}

@mixin text-logo {
  @include control-font-accent($font-size-2xl, $font-weight-bold);
}

@mixin text-card-title {
  @include control-font-accent($font-size-xl, $font-weight-regular);
}

@mixin text-body {
  @include control-font-base($font-size-lg, $font-weight-regular);
}

@mixin text-body-strong {
  @include control-font-base($font-size-lg, $font-weight-semibold);
}

@mixin text-body-muted {
  @include control-font-base($font-size-lg, $font-weight-regular, 1.6);
}

@mixin text-label {
  @include control-font-base($font-size-md, $font-weight-regular);
}

@mixin text-label-strong {
  @include control-font-base($font-size-md, $font-weight-medium);
}

@mixin text-caption-strong {
  @include control-font-base($font-size-sm, $font-weight-semibold);
}

@mixin text-caption {
  @include control-font-base($font-size-sm, $font-weight-regular, 1.6);
}

@mixin text-overline {
  @include control-font-base($font-size-xs, $font-weight-regular);
}
