@use "../../resources.scss" as *;

.commonChip {
  gap: 6px;
  color: $text-secondary !important;

  &__square {
    width: 8px;
    height: 8px;
    background: currentColor;
  }

  &__bar {
    width: 3px;
    height: 14px;
    background: currentColor;
  }

  &:not(:disabled):hover {
    color: $accent-light !important;
  }

  &:not(:disabled):active, &.active {
    color: $accent-default !important;
  }
}
