@use "../resources.scss" as *;

.home {
  gap: 32px;
  height: 100%;
  display: flex;
  min-height: 0;
  overflow: hidden;
  flex-direction: column;

  &__header {
    gap: 16px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    &__text {
      &__title {
        @include h1;
      }

      &__caption {
        @include caption;
      }
    }

    &__actions {
      display: none;
    }

    &__filters {
      gap: 8px;
      display: flex;
      flex-direction: column;

      &__header {
        &__caption {
          @include caption;
        }
      }

      &__main {
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
  }

  @include laptop {
    &__header {
      display: grid;
      gap: 32px;
      align-items: center;
      grid-template-columns: 1fr auto;

      &__text {
        gap: 8px;
        display: flex;
        flex-direction: column;

        &__caption {
          color: $text-secondary;
          max-width: 420px;

          @include body;
        }
      }

      &__actions {
        gap: 16px;
        display: flex;
        align-items: flex-start;

        &__search {
          width: 320px;
        }
      }

      > .commonSearch {
        display: none;
      }

      &__filters {
        grid-column: 1 / -1;
      }
    }
  }

  &__main {
    flex: 1;
    display: flex;
    min-height: 0;
    overflow: hidden;
    flex-direction: column;

    &__recommended {
      gap: 12px;
      flex: 1;
      display: flex;
      min-height: 0;
      flex-direction: column;

      &__header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;

        &__title {
          color: $text-primary;

          @include h4;
        }

        &__meta {
          color: $text-tertiary;

          @include xs;
        }
      }

      &__main {
        gap: 16px;
        flex: 1;
        display: grid;
        min-height: 0;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      }
    }
  }
}
