@use "../resources.scss" as *;

.home {
  gap: 32px;
  display: flex;
  flex-direction: column;

  &__header {
    gap: 16px;
    display: flex;
    flex-direction: column;

    &__text {
      &__title {
        @include h1;
      }

      &__caption {
        @include caption;
      }
    }

    &__filters {
      gap: 8px;
      display: flex;
      flex-direction: column;

      &__header {
        &__caption {
          @include caption;
        }
      }

      &__main {
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;

    &__recommended {
      gap: 12px;
      display: flex;
      flex-direction: column;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
          color: $text-primary;

          @include h4;
        }

        &__meta {
          color: $text-tertiary;

          @include xs;
        }
      }

      &__main {
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      }
    }
  }
}
