:root {
  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Playfair Display', serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.6875rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.8125rem;
  --font-size-lg: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-4xl: 3rem;
}

:root {}

:root {
  --light-color-000000: #000000;
  --light-color-0000001a: #0000001A;
  --light-color-0c1b33: #0C1B33;
  --light-color-2b4db3: #2B4DB3;
  --light-color-4e7cf5: #4E7CF5;
  --light-color-526077: #526077;
  --light-color-666666: #666666;
  --light-color-6e7c91: #6E7C91;
  --light-color-888888: #888888;
  --light-color-b6becc: #B6BECC;
  --light-color-c6d6ff: #C6D6FF;
  --light-color-d8dee8: #D8DEE8;
  --light-color-e0e0e0: #E0E0E0;
  --light-color-e6eaf2: #E6EAF2;
  --light-color-e6eeff: #E6EEFF;
  --light-color-f5a524: #F5A524;
  --light-color-f5f5f5: #F5F5F5;
  --light-color-f5f7fb: #F5F7FB;
  --light-color-ffffff: #FFFFFF;

  &.dark, &[data-theme="dark"] {
    --dark-color-0000004d: #0000004D;
    --dark-color-0b0f16: #0B0F16;
    --dark-color-0c1b33: #0C1B33;
    --dark-color-0f141c: #0F141C;
    --dark-color-141b24: #141B24;
    --dark-color-1a2331: #1A2331;
    --dark-color-1b2740: #1B2740;
    --dark-color-263040: #263040;
    --dark-color-2f3f6b: #2F3F6B;
    --dark-color-4e7cf5: #4E7CF5;
    --dark-color-5c6676: #5C6676;
    --dark-color-666666: #666666;
    --dark-color-7fa0ff: #7FA0FF;
    --dark-color-888888: #888888;
    --dark-color-8d98aa: #8D98AA;
    --dark-color-a7b0bf: #A7B0BF;
    --dark-color-d8dee8: #D8DEE8;
    --dark-color-e0e0e0: #E0E0E0;
    --dark-color-f2f4f7: #F2F4F7;
    --dark-color-f5a524: #F5A524;
    --dark-color-ffffff: #FFFFFF;
  }
}
