:root {
  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Playfair Display', serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.6875rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.8125rem;
  --font-size-lg: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-4xl: 3rem;
}

:root {
  --color-accent-500: #F5A524;

  --color-brand-50: #E6EEFF;
  --color-brand-100: #C6D6FF;
  --color-brand-500: #4E7CF5;
  --color-brand-700: #2B4DB3;
  --color-brand-800: #0C1B33;
  --color-brand-900: #0C1B33;

  --color-neutral-0: #FFFFFF;
  --color-neutral-25: #F5F7FB;
  --color-neutral-50: #F5F5F5;
  --color-neutral-100: #E6EAF2;
  --color-neutral-150: #E0E0E0;
  --color-neutral-200: #D8DEE8;
  --color-neutral-300: #B6BECC;
  --color-neutral-500: #888888;
  --color-neutral-600: #6E7C91;
  --color-neutral-700: #526077;
  --color-neutral-800: #666666;
  --color-neutral-850: #0C1B33;
  --color-neutral-900: #000000;
  --color-neutral-950: #000000;

  --color-alpha-900: #0000001A;

  &.dark, &[data-theme="dark"] {
    --color-accent-500: #F5A524;

    --color-brand-50: #7FA0FF;
    --color-brand-100: #4E7CF5;
    --color-brand-500: #4E7CF5;
    --color-brand-700: #2F3F6B;
    --color-brand-800: #1B2740;
    --color-brand-900: #0C1B33;

    --color-neutral-0: #FFFFFF;
    --color-neutral-25: #F2F4F7;
    --color-neutral-50: #E0E0E0;
    --color-neutral-100: #D8DEE8;
    --color-neutral-150: #A7B0BF;
    --color-neutral-200: #8D98AA;
    --color-neutral-300: #5C6676;
    --color-neutral-500: #888888;
    --color-neutral-600: #666666;
    --color-neutral-700: #263040;
    --color-neutral-800: #1A2331;
    --color-neutral-850: #141B24;
    --color-neutral-900: #0F141C;
    --color-neutral-950: #0B0F16;

    --color-alpha-900: #0000004D;
  }
}
