$padding-xs: var(--ui-padding-xs);
$padding-sm: var(--ui-padding-sm);
$padding-md: var(--ui-padding-md);
$padding-lg: var(--ui-padding-lg);
$padding-xl: var(--ui-padding-xl);
$padding-none: var(--ui-padding-none);

$border-radius-xs: var(--border-radius-xs);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-lg: var(--border-radius-lg);
$border-radius-xl: var(--border-radius-xl);
$border-radius-max: var(--border-radius-max);
$border-radius-none: var(--border-radius-none);
$border-radius-circle: var(--border-radius-circle);

$transition-base: var(--transition-base);
